@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #000000;
    --secundary-color: rgb(37, 37, 37);
    --card-color: rgb(221, 219, 215);
    --main-degrade: linear-gradient(#f8ad09, #ffc400);
    --main-degrade2: linear-gradient(#e2dada, #ffffff);
    --color-p: #a1a1a1;
    --color-p-2: #868585;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {

    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #e2e2e2;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    transition: all .25s ease-in-out;
    background-color: #090909;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn .bi-grid {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link svg {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #ffc400;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    top: 0;
    left: 70px;
    background-color: #000000;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}













.download {
    border-radius: 5px !important;
}

.my-btn-gradient {
    padding: 5px 10px;
    color: #090909;
    border-radius: 5px !important;
    border: none;
    cursor: pointer;
    background-image: var(--main-degrade);
}

@keyframes animacao {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.my-btn-gradient:hover {
    animation-name: animacao;
    color: #fafafa;
    animation-timing-function: ease;
    animation-direction: alternate;
}

#map {
    height: 500px;
    border-radius: 5px !important;
    margin-bottom: 10px;
    z-index: 1;

}

.city-text-title {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    color: #090909;
    font-size: 30px;
    margin: 10px;
    font-weight: 700;
    transition: all 0.4s ease;

}

.row-box {
    margin-top: 20px;
    margin-bottom: 5px;
}

.container-box {
    margin: 0;
    padding: 5px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #090909;
    margin: 0;
    padding-bottom: 30px;
    transition: all 0.3s ease;
    background-color: #ffffff;
    border-radius: 5px !important;

}

.box:hover {
    color: #f8ad09;
}

.box:hover .title{
    color: #f8ad09;
}

.featured-box:hover {
    color: #ffffff;
}

.featured-box:hover .title{
    color: #ffffff;
}


.featured-box {
    background: linear-gradient(133deg, #f8ad09, #ffc400);
    color: #fcfcfc;
}

.featured-box .title {
    color: #fcfcfc;
}

.information {
    justify-content: center;
    align-items: center;
    height: 100px;
}

.climate-data-area {
    margin: 0;
    width: 30%;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    height: 100%;
}

.climate-data {
    display: flex;
    width: 100%;
}

.final-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.final-text a {
    font-style: italic;
    color: #ebebeb;
    margin: 10px;
}

.final-text p {
    color: #ebebeb;
    margin: 10px;

}


.chart {
    padding: 0;
    margin: 5px;
}

.charts {
    background-color: #ececec;
    border-radius: 5px !important;
}

.card {
    border: none;
    border-radius: 5px !important;
    overflow: hidden;
}

.card-header {
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center; /* Centraliza o título */
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 10px; /* Espaço interno no corpo do card */
}

canvas {
    width: 100% !important; /* Faz o canvas ocupar toda a largura do card */
    height: 200px; /* Altura do gráfico */
}

iframe {
    border-radius: 5px !important;
}

.first-row {
    margin-bottom: 30px;
}