body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1d1d1d, #080808); 
}

.card {
    border-radius: 8px;
}

h2 {
    font-weight: 500;
    font-size: 2em;
}

p {
    font-size: 14px;
    color: #666;
}

.btn-dark {
    background-color: #000;
    color: #fff;
    transition: transform 160ms ease;
}

.btn-dark:hover {
    border: none;
    transform: scale(1.05);
    background-color: #f8ad09;
}

.btn-link {
    font-size: 14px;
    text-align: center;
    color: #555;
}
