@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(27, 27, 27);
    height: 70px; 
    display: flex;
    align-items: center; 
    padding: 0 20px;
    z-index: 1050;
}

.container.content {
    margin-top: 90px; 
    padding-bottom: 100px;
}

body {
    font-family: "Poppins", sans-serif;
    padding-top: 70px;
}

:root {
    --main-color: #000000;
    --secundary-color: rgb(37, 37, 37);
    --card-color: rgb(221, 219, 215);
    --main-degrade: linear-gradient(#f8ad09, #ffc400);
    --main-degrade2: linear-gradient(#e2dada, #ffffff);
    --color-p: #a1a1a1;
    --color-p-2: #868585;
}

.background-hero {
    background-color: var(--main-color);
    padding-top: 150px;
    padding-bottom: 100px;
}

.my-container {
    max-width: 1440px;
    padding: 0 5%;
    margin: -2em auto 0 auto;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-btn-gradient {
    padding: 10px 30px;
    color: rgb(255, 251, 251);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-image: var(--main-degrade);
}

.my-btn-gradiente {
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-image: var(--main-degrade2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.my-logo a {    
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.ul {
    display: flex;
    align-items: center;
}

.ul li {
    margin: 0 36px;
    position: relative;
}

.ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 10px;
    display: inline-block;
}

.ul li a:not(.no-line)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
}

.ul li a:not(.no-line):hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.main-text {
    margin-top: 8em;
    width: 50%;
    color: white;
}

.main-text h1 {
    font-size: 4.5rem;
}

.main-text button {
    font-size: 1em;
}

.main-text div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main-material {
    margin-top: 10em;
    width: 50%;
}

.main-material video {
    width: 100%;
    border-radius: 20px;
}

.menu-icon {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
}

.content {
    position: relative;
    z-index: 1000; 
}

.sobre .container {
    display: flex;
    align-items: center;
}

.sobre .sobre-img {
    width: 50%;
}

@media (max-width: 1366px) {


    .container.content {
        margin-top: 110px;
    }

    .menu-icon {
        display: block;
    }

    .ul {
        position: fixed;
        background-color: rgb(0, 0, 0);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
        z-index: 1050;
    }

    .ul li {
        margin-right: 40px;
        font-size: 30px;
        margin: 20px 0;
    }

    .ul li a {
        margin-right: 30px;
    }

    .ul.ativo {
        left: 0;
    }

    .my-container {
        flex-direction: column;
    }

    .main-material,
    .main-text {
        width: 100%;
        text-align: center;
    }

    .main-text h1 {
        font-size: 4rem;
    }

    .main-text .my-btn-gradient {
        font-size: 1em;
    }

    .main-text div {
        justify-content: center;
    }

    .no-scroll {
        overflow: hidden;
    }
}

@media (max-width: 470px) {
    .main-text h1 {
        font-size: 2rem;
    }

    .main-text div {
        justify-content: center;
    }
}


.plans .card {
    background-color: rgb(221, 219, 215);
    padding: 5vh 0;
    border-radius: 10px;
    margin: 10px;
    height: fit-content;
    border: none;
}

.plans .card .card-footer {
    border: none;
    background-color: transparent;
}

.plans .card-body {
    /* Descomentar caso queira fixar o tamanho do card de plano */
    /* height: 300px; */
}

.plans .card-title {
    padding-bottom: 10px;
}

.plans .card-featured {
    background-color: rgb(37, 37, 37);
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.plans .price {
    padding: 0;
}

.title {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    color: white;
    padding: 10px;
    background-color: var(--main-color);
}

footer a {
    color: white;
}

footer .footer-title {
    padding-top: 10px;
    size: 20px;
}


#carouselSobre {
    max-height: 400px; 
    overflow: hidden;
}

#carouselSobre .carousel-item img {
    height: 100%; 
    object-fit: cover; 
    width: 100%;
}

@media (max-width: 1366px) {
    #carouselSobre {
        max-height: 300px;
    }

    #carouselSobre .carousel-item img {
        height: auto;
        width: 100%;
    }
}


.services .row .box .border{
    border-radius: 10px;
}

.home-p {
    font-size: 18px;
}

section {
    margin-bottom: 2em;
}

.faqs {
    margin-bottom: 10em;
}

.plan-items {
    margin: 30px;
}

#about li {
    font-size: 18px;
}
