@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #000000;
    --secundary-color: rgb(37, 37, 37);
    --card-color: rgb(221, 219, 215);
    --main-degrade: linear-gradient(#f8ad09, #ffc400);
    --color-p: #a1a1a1;
    --color-p-2: #868585;
}

.background-hero {
    background-color: var(--main-color);
    height: 87vh;
}

.my-container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-btn-gradient {
    padding: 10px 30px;
    color: rgb(255, 251, 251);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-image: var(--main-degrade);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.my-logo a {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.ul {
    display: flex;
    align-items: center;
}

.ul li {
    margin: 0 35px;
    font-size: 20px;
    position: relative;
}

.ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 10px;
    display: inline-block;
}

.ul li a:not(.no-line)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
}

.ul li a:not(.no-line):hover::after {
    transform: scaleX(1);
    transform-origin: right;
    transform-origin: left;
}

.main-text {
    margin-top: 5em;
    width: 50%;
    color: white;
}

.main-text h1 {
    font-size: 4.5rem;
}

.main-text button {
    margin-left: 8em;
    font-size: 1em;
}

.main-text div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main-material {
    margin-top: 7em;
    width: 50%;
}

.main-material video {
    width: 100%;
    border-radius: 20px;
}
.menu-icon {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
}


.content {
    position: relative;
    z-index: 1000; 
}

.sobre .container{
    display: flex;
    align-items: center;
}

.sobre .sobre-img{
    width: 50%;
}

@media (max-width: 1366px) {
    .menu-icon {
        display: block;
    }
    .ul {
        position: fixed;
        background-color: rgb(156, 142, 62);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
        z-index: 1050;
    }
    .ul li {
        font-size: 30px;
        margin: 20px 0;
    }
    .ul.ativo {
        left: 0;
    }
    .my-container {
        flex-direction: column;
    }
    .main-material,
    .main-text {
        width: 100%;
        text-align: center;
        margin-right: 2em;
    }
    .main-text h1 {
        font-size: 4rem;
    }
    .main-text .my-btn-gradient {
        font-size: 1em;
    }
    .main-text div {
        justify-content: center;
        margin-right: 4em;
    }
    .no-scroll {
        overflow: hidden;
    }
    
}

@media (max-width: 470px) {
    .main-text h1 {
        font-size: 2rem;
    }
    .main-text div {
        justify-content: center;
        margin-right: 4em;
    }
}

@keyframes animacao {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.main-text .my-btn-gradient:hover {
    animation-name: animacao;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.card {
    background-color: rgb(221, 219, 215);
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 2em;
    margin: 10px;
    height: 450px;
    border: none;
}

.card .card-footer {
    border: none;
    background-color: transparent;
}

.card-body {
    height: 300px;
}

.card-title {
    padding-bottom: 10px;
}

.gold {
    background-color: rgb(37, 37, 37);
    color: white;
}

.price{
    padding: 0px;
}


/* Footer */
footer{
    color: white;
    padding: 10px;
    background-color: var(--main-color);
}

footer a{
    color: white;
}

footer .footer-title{
    padding-top: 10px;
    size: 20px;
}
