@font-face {
    font-family: "Trenda";
    src: url('./assets/fonts/trenda/title.otf') format("opentype");
   }
   
   *, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   :root {
    --text: #000000;
    --primary: #fefefe;
    --seconday: #2dff11;
    --tertiary: #2cff02;
    background-image: url(/imgs/1pexels-sitthan-kutty-322985-913807.png);
   }
   
   body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   
   .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    width: 70%;
    height: 75%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.27);
   }
   
   .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
   }
   
   .call {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background:transparent;
    color: var(--primary);
    text-align: center;
    z-index: 2;
    opacity: 1;
    transition: 1s all ease;
   }
   
   #sign-in-call {
     left: 0;
     right: unset;
   }
   
   #sign-up-call {
    left: unset;
    right: 0;
   }
   
   .hide {
    opacity: 0;
    transform: translateY(200%);
   }
   
   
   #cover {
     position: absolute;
     left: 0;
     height: 100%;
     width: 50%;
     background: var(--seconday);
      background: linear-gradient(90deg, var(--seconday) 45%, var(--tertiary) 93%);
     z-index: 1;
     transition: 1s all ease;
   }
   
   .right {
    transform: translateX(100%);
   }
   
   .left {
    transform: translateX(0%);
   }
   
   .call .title {
     color: var(--primary);
   }
   
   .title {
    font-family: "Trenda";
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #383838;
   }
   
   .social {
    display: flex;
    align-items: center;
    justify-content: center;
     margin: 1.2rem 0;
   }
   
   
   .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    color: var(--text);
   }
   
   .form-field {
    width: 100%;
    margin: 0 0 1.2rem;
    border: none;
    background: rgb(228, 228, 228);
    padding: 1rem;
   }
   
   .form-field:focus {
    outline-color: var(--secondary);
   }
   
   .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   }
   
   .forgot-password {
    cursor: pointer;
    margin: 0.5rem 0 1.5rem;
    font-size: 1.2rem;
    opacity: 0.8;
   }
   
   .forgot-password:hover {
    text-decoration: underline;
   }
   
   .form-btn {
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
    color: var(--primary);
    font-size: 0.9rem;
    background-color: var(--tertiary);
    padding: 0.9rem 3.5rem;
    transition: 0.5s all ease;
   }
   
   .form-btn:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.188);
    transform: translateY(-2%);
   }
   
   .call .subtitle {
    font-size: 1.2rem;
    margin: 2rem 0;
   }
   
   .call-btn {
    cursor: pointer;
    border: 0.063rem solid var(--primary);
    color: var(--primary);
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: transparent;
    padding: 0.8rem 3.5rem;
    transition: 0.5s all ease;
   }
   
   .call-btn:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.188);
    transform: translateY(-2%);
   }